<div class="item {{ service.status }}" [ngClass]="{'light':isLightTheme$}" fxLayout="row" fxLayoutAlign="space-between center">
  <span class="text" fxFlex>
    {{ service.name }} - 
    <app-status [status]="service.status" [statusText]="service.statusText" ></app-status>
  </span>
  <span *ngIf="isManualUpdate()" fxFlex="20" fxLayoutAlign="end end">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Edit
    </button>
  </span>
  <span *ngIf="!isManualUpdate()" fxFlex="20" fxLayoutAlign="end end">
    <span class="show-auto" (click)="openDialog()">Automatic</span>
  </span>
</div>
