@import "../app-theme.scss";

.backdrop{
    height:100%;
}

mat-slide-toggle{
    font-size:14px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*navbar color #212121*/
    background-color: #404040;    
    color: white;
    text-align: center;
    margin-top: -50px;
}