<div [ngClass]="{'light-dashboard-theme': isLightTheme$ | async}" class="backdrop">
    <div class="mat-app-background backdrop">
        <mat-toolbar color="primary-dark">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="30">
                    <div *ngIf="isLightTheme$ | async; else darkTheme">
                        <img src="../assets/excellaLogoBlack.png" alt="Excella" height="35" width="150">
                    </div>
                    <ng-template #darkTheme>
                        <span>
                            <img src="../assets/excellaLogo.png" alt="Excella" height="35" width="150">
                        </span>
                    </ng-template>
                </div>
                <div class="slider" fxFlex="40">
                    <span class="dark"></span>
                    <mat-slide-toggle [checked]="isLightTheme$ | async" (change)="toggleLightTheme($event.checked)"></mat-slide-toggle>
                    <span class="light"></span>
                </div>
                <div class="logout-button" (click)="logout()">Logout</div>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet> 
    </div>
    <div class="footer"> 
        <p>Version {{ getVersion() }}</p>
    </div>
</div>