mat-radio-button {
  margin: 0.5rem;
}

mat-form-field{
  width:100%;
  margin-bottom:1.5rem;
}

mat-button-toggle-group{
  margin-bottom:1rem;
  mat-button-toggle{
    width:5rem;
  }
}

p{
  margin-bottom:0.5rem;
}

label{
  margin-bottom:1rem;
}

.title {
  font-size:22px;
  margin-bottom:3rem;
}

.mat-raised-button{
  margin-right:1rem;
}
