<div class="title">
  {{ service.name }}
</div>
<p>Update Method</p>
<div>
  <mat-radio-group [(ngModel)]="service.updateMethod">
    <mat-radio-button *ngFor="let method of updateMethods" [value]="method"> {{ method | titlecase }}</mat-radio-button>
  </mat-radio-group>
</div>
<p>Status</p>
<div>
  <mat-button-toggle-group [(ngModel)]="service.status">
    <mat-button-toggle *ngFor="let status of statuses" [value]="status">
      {{ status }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div>
  <mat-form-field>
    <input
      matInput
      placeholder="Status Message"
      [(ngModel)]="service.statusText"
    />
  </mat-form-field>
</div>
<div>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
  <button mat-raised-button color="secondary" (click)="cancel()">Cancel</button>
</div>
