/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  line-height: 24px;
  padding: 30px;
  background: #fafafa;
}
