// Import library functions for theme creation.
@import '~@angular/material/theming';

@import 'app-theme.scss';

body {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  margin:0;
}
